<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/:s001</key>
	<string>001.png</string>
	<key>/:s002</key>
	<string>002.png</string>
	<key>/:s003</key>
	<string>003.png</string>
	<key>/:s004</key>
	<string>004.png</string>
	<key>/:s005</key>
	<string>005.png</string>
	<key>/:s006</key>
	<string>006.png</string>
	<key>/:s007</key>
	<string>007.png</string>
	<key>/:s008</key>
	<string>008.png</string>
	<key>/:s009</key>
	<string>009.png</string>
	<key>/:s010</key>
	<string>010.png</string>
</dict>
</plist>
